@font-face {font-family: 'Central';src: url('font/Updock-Regular.ttf');font-display: swap;}
@font-face {font-family: 'Titulo';src: url('font/Filxgirl.TTF');font-display: swap;}
@font-face {font-family: 'Subtitulo';src: url('font/PlaywriteDEGrund-Regular.ttf');font-display: swap;}
@font-face {font-family: 'Lectura';src: url('font/Quicksand-Regular.ttf');font-display: swap;}
@font-face {font-family: 'Frase';src: url('font/Do\ It\ with\ Love.otf');font-display: swap;}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* PROPIAS */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img,
input,
textarea,
select,
button {
	width: 100%;
}

a {
	text-decoration: none;
}

a,span {
	display: block;
}

body {
    position: relative;
    min-height: 100dvh;
    background: linear-gradient(180deg, rgba(227,167,255,.5) -0%, rgba(228,240,255,1) 100%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    overflow-x: hidden;
    padding: 1em;
}
body::before {
    content: '';
    position: absolute;
    top:-2em;
    left: 0;
    width: 100%;
    height: calc(100% + 2em);
    background-image: url('fondo.webp?v=24');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(7px);
    opacity: 0.2;
}

h1 {
    font-family: 'Titulo';
    font-size: 5rem;
    text-align: center;
    padding-block: 1em;
    line-height: .8em;
}

h2 {
    font-family: 'Subtitulo';
    font-size: 2rem;
    text-align: center;
    line-height: 1.5em;
}

p {
    font-family: 'Lectura';
    font-weight: bold;
    line-height: 1.4em;
}

.frase {
    font-family: 'Titulo';
    font-size: 3rem;
    line-height: .9em;
    text-align: center;
}

.texto-central {
    font-family: 'Central';
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: .6em .3em;
    box-shadow: 0px 0px 10px 1px red;
    border-radius: 50%;

    span:nth-child(1){
        line-height: .5em;
    }

    span:nth-child(2){
        font-size: 4.5rem;
    }
}