@font-face {font-family: 'Central';src: url('font/Updock-Regular.ttf');font-display: swap;}
@font-face {font-family: 'Titulo';src: url('font/Filxgirl.TTF');font-display: swap;}
@font-face {font-family: 'Subtitulo';src: url('font/PlaywriteDEGrund-Regular.ttf');font-display: swap;}
@font-face {font-family: 'Lectura';src: url('font/Quicksand-Regular.ttf');font-display: swap;}
@font-face {font-family: 'Frase';src: url('font/Do\ It\ with\ Love.otf');font-display: swap;}

:root {
    --color-negro: rgb(24, 24, 24);
    --transparencia-adorno-1: .7;
}

html {
    color-scheme: light;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--color-negro);

    position: relative;
    .fondo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        object-fit: cover;
        z-index: -2;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 0px 60px 1px rgba(128, 0, 128, 0.7);
    padding-inline: 5%;
    padding-block: 5em;
    overflow: hidden;
}

p {
    font-family: 'Lectura';
    font-weight: bold;
    line-height: 1.4em;
    color: var(--color-negro);
}
span {
    color: var(--color-negro);
}

.seccion-portada {

    .flores-marco {
        position: absolute;
        left: 0;

    }
    .flores-marco.arriba {
        top: 0;
    }
    .flores-marco.abajo {
        bottom: 0;
        transform: rotateZ(180deg);
    }
    
    .contenedor-monograma {
        position: relative;
        width: 70%;
        aspect-ratio: 1/1;
        
        .monograma {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 50%;
        }

        .arco {
            
        }
    }
}

.seccion-karen-victor {
    gap: 2em;

    .flores-laterales {
        position: absolute;
        left: 0;
        height: 100%;
        z-index: -1;
        height: 50%;
        width: 120%;
    }
    .flores-laterales.flores-1{
        top: 0;
        transform: translateX(-10%);
    }
    .flores-laterales.flores-2{
        top: 50%;
        transform: rotateX(180deg) translateX(-10%);
    }

    h1 {
        font-family: 'Titulo';
        font-size: 3rem;
        text-align: center;
        line-height: .8em;
    }

    .foto-propuesta {
        width: 80%;
    }

    .texto-central {
        font-family: 'Central';
        font-size: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        span:nth-child(1){
            line-height: .2em;
        }
        span:nth-child(2){
            font-size: 4rem;
            line-height: .8em;
        }
    }

    .frase {
        font-family: 'Titulo';
        font-size: 2.2rem;
        line-height: .9em;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        padding: .5em;
        border-radius: 1em;
    }
}

.seccion-padres {
    .manchitas {
        position: absolute;
        width: 70%;  
    }
    .florecitas{
        position: absolute;
        width: 30%;  
    }
    .manchitas.mancha-1 {
        left: 0;
        top: 0;
        transform: translateX(-30%) translateY(-30%);
    }
    .florecitas.flor-1 {
        left: 2%;
        top: 2%;
    }
    .manchitas.mancha-2 {
        right: 0;
        bottom: 0;
        transform: translateX(30%) translateY(40%);
    }
    .florecitas.flor-2 {
        right: 2%;
        bottom: 2%;
    }

    .flores {
        position: absolute;
        width: 40%;
    }
    .flores.flores-1 {
        top: 0;
        right: 0;
        rotate: 180deg;
        transform: translateX(-25%) translateY(15%);
    }
    .flores.flores-2 {
        left: 0;
        bottom: 0;
        transform: translateX(-25%) translateY(15%);
    }

    .contenedor-general {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #80b9ff;
        border-radius: 50%;
        padding: 3em;
        gap: 2em;

        &::before {
            content: '';
            position: absolute;
            top: .3em;
            left: 0;
            border: 1px solid #d591ff;
            border-radius: 50%;
            width: 100%;
            height: calc( 100% - .6em )
        }

        .imagen-novios {
            width: 30%;
        }

        .contenedor-padres {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;

            .contenedor-individual {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: .5em;

                .titulo {
                    font-family: 'Subtitulo';
                    font-size: 1.5rem;
                    text-align: center;
                    color: #8c52ff;
                }
        
                .padre {
                    font-family: 'lectura';
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
            
        }

        .contenedor-versiculo {
            position: relative;

            img {
                position: absolute;
                /* top: 50%; */
                left: 50%;
                /* transform: translateX(-100%) translateY(-100%); */
                rotate: 135deg;
                width: 20%;
                z-index: -1;
            }

            p {
                text-align: center;
            }
            .versiculo {
                font-size: .9rem;
                margin-bottom: .5em;
            }
            .libro {
                font-size: .7rem;
            }
        }
        
    }
}

.seccion-fotos {
    .marco {
        position: absolute;
    }
    .marco.marco-1{
        top: 0;
        left: 0;
        rotate: 180deg;
    }
    .marco.marco-2{
        bottom: 0;
        left: 0;
    }

    .estrellas {
        position: absolute;
        width: 200%;
    }
    .estrellas.estrella-1{
        rotate: 90deg;
        left: -90%;
    }
    .estrellas.estrella-2{
        rotate: -90deg;
        right: -90%;
    }

    .contenedor-fotos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5em;

        img {
            border-radius: 2em;
            width: 100%;
            object-fit: cover;
            box-shadow: 0px 0px 3px 1px #8c52ff;
        }
        .otras-fotos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: .4em;

            img {
                aspect-ratio: 3/4;
            }
        }
    }
}

.seccion-invitacion {
    .manchitas {
        position: absolute;
        width: 70%;  
    }
    .florecitas{
        position: absolute;
        width: 30%;  
    }
    .manchitas.mancha-1 {
        left: 0;
        top: 0;
        transform: translateX(-30%) translateY(-30%);
    }
    .florecitas.flor-1 {
        left: 2%;
        top: 2%;
    }
    .manchitas.mancha-2 {
        right: 0;
        bottom: 0;
        transform: translateX(30%) translateY(40%);
    }
    .florecitas.flor-2 {
        right: 2%;
        bottom: 2%;
    }

    .contenedor-general {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50% 50% 0px 0px;
        padding: 3em 1.5em;
        background-color: rgba(213, 145, 255, 0.3);
        text-align: center;
        gap: 2.3em;

        .flor1 {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            rotate: 90deg;
            transform: translateY(-30%);
        }

        .flor2 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 40%;
            transform: translateX(-30%) translateY(30%);
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% + 1em);
            height: calc(100% + 1em);
            transform: translateX(-.5em) translateY(-.5em);
            border: 1px solid #d591ff;
            border-radius: 50% 50% 0px 0px;
            z-index: -1;
        }

        .contenedor-letras-anillo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40%;

            .letras {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                justify-content: center;
                align-items: center;
                width: 100%;

                img {
                    width: 100%;

                    &:nth-child(1) {
                        transform: translateY(-25%) translateX(25%);
                    }
                }
            }

            .anillos {
                width: 70%;
            }
        }

        .titulo {
            font-family: 'subtitulo';
            font-size: 1.2rem;
        }

        .contenedor-frase {
            display: flex;
            flex-direction: column;
            gap: .3em;

            .frase {
                font-family: 'lectura';
                font-size: 1.1rem;
            }
        }

        .contenedor-fecha {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .8em;
            font-family: 'subtitulo';

            .contador {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: .5em;

                .contenedor-digito {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    box-shadow: 0px 0px 10px 1px #8c52ff;
                    aspect-ratio: 1/1;
                    width: 100%;
                    padding: .3em;
                    gap: .4em;
                    border-radius: .5em;

                    .titulo {
                        font-size: .6rem;
                        color: #3a3a3a;
                    }

                    .digito {
                        font-size: 1.3rem;
                        color: #8c52ff;
                    }
                }
            }
        }

        .contenedor-lugar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .7em;

            .titulo {
                font-family: 'subtitulo';
            }
            .lugar {
                font-family: 'lectura';
            }
            a {
                text-decoration: none;
                box-shadow: 0px 0px 10px 0px #8c52ff;
                padding: .7em;
                border-radius: 1em;
                font-size: 1.2rem;
                color: #8c52ff;
            }
        }
    }
}

.seccion-orden {
    gap: 2em;

    .flor {
        position: absolute;
        left: 0;
    }

    .flor.flor-1 {
        top: 1em;
    }
    .flor.flor-2 {
        bottom: 1em;
    }

    .estrellas {
        position: absolute;
        width: 200%;
    }
    .estrellas.estrella-1{
        rotate: 90deg;
        left: -90%;
    }
    .estrellas.estrella-2{
        rotate: -90deg;
        right: -90%;
    }

    .titulo {
        font-family: 'subtitulo';
        font-size: 1.5rem;
    }

    .contenedor-orden {
        display: grid;
        grid-template-columns: 60px 20px 1fr;
        align-items: center;
        gap: .5em;

        .contenedor-imagen {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.5);
            padding: .5em;
            border-radius: 50%;
            aspect-ratio: 1/1;
            box-shadow: 0px 0px 10px 1px #caaeff;

            img {
                width: 100%;
            }
        }

        .corazon{
            filter: hue-rotate(267deg)
            opacity(.4)
        }

        span {
            text-align: center;
            font-family: 'lectura';
            font-size: 1.2rem;
            background-color: #caaeff;
            font-weight: bold;
            padding: .5em;
            border-radius: .7em;
            clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 55%, 0% 45%);
        }
    }
}